body {
  display: flex;
  justify-content: center;
  font-family: monospace;
}

#calculator {
  border-style: outset;
  border-width: 10px;
  border-radius: 10px;
  width: 480px;
  height: 640px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

#display {
  flex: 1;
  border-style: outset;
  border-radius: 5px;
}

#buttons {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.number {
  background-color: lightblue;
}

.control {
  background-color: lightgreen;
}

.operation {
  background-color: lightyellow;
}

button {
  font-size: 2rem;
}
